footer{
    box-sizing: border-box;
    /* position: absolute; */
    padding:.5rem;
    width: 100%;
    bottom: 0;
    margin:0;
}

.copyright {
    border-top: solid 0.1rem;
    margin-top: 0;
    text-align: right;
}

/* footer {
    display: flex;
    margin: 1rem 0rem;
    margin-left: 5%;
    margin-right: 5%;
}

footer div {
    flex: 1;
} */