.sideBar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top:0;
    left: -250px;
    background-color: #cf2e2e;
    padding-top: 60px;
    transition: left 0.5s ease;
}
.Back{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top:0;
    left: -100%;
    background-color: grey;
    overflow: hidden;
    opacity: 50%;
}

.App.container {
    position: relative;
    min-height: 100vh;
    /* padding-bottom: 300px; */
}

.sideBar.active {
    left: 0;
}

.Back.active {
    left: 0;
    overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-float infinite 3s ease-in-out;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}
